spring:
  application:
    name: cinebox

  datasource:
    url: jdbc:mysql://localhost:3306/cinebox
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080

jwt:
  secret-key: 'EC1rR+pW7IU48k5Z2bFbmtarGnSFXiSy+bmaXXPAKdI='